/* 
    Created on : 28-Mar-2017, 11:50:04
    Author     : Dathriil
*/

/* pagina */
body {
    background-color: #ffffff;
    color: #212121;
    font: 13px/24px "Roboto", sans-serif;
    margin: 0;
}

#divBody {
    width: auto;
    padding: 8px;
    margin-top: 48px;
    margin-bottom: 8px;
}

/* header */
header{
    font: 18px/48px "Roboto", sans-serif;
    color: #ffffff;
    background-color: #4caf50;
    position: fixed;
    top: 0;
    right: 0;
    height: 48px;
    width: 100%;
}

.title {
    float: left;
    padding-left: 16px;
}

/* nav */
nav{
    float: left;
}

nav ul, nav li{
    margin: 0;
    list-style-type: none;
    display: inline-block;
}

nav li{
    width: 100px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 2px dotted #4caf50;
}

nav li:last-child{
    border-right: none;
}

nav li.active{
    text-decoration: underline;
}

/* titoli e testo */
h1 {
    font-weight: normal;
    color: #4caf50;
    font-size: 34px;
    line-height: 40px;
}

h2 {
    font-weight: normal;
    color: #4caf50;
    font-size: 24px;
    line-height: 32px;
}

h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

p {
    margin-left: 0;
    margin-right: 0;
    margin-top: 4px;
    margin-bottom: 4px;
}

/* links */
a:link, a:visited{
    text-decoration: none;
    color: #4caf50;
}

a:hover{
    text-decoration: underline;
}

/* elementi form */
label {
    color: #757575;
    font-size: 12px;
    line-height: 16px;
}
label:active, label:focus {
    color: #4caf50;
    font-weight: bold;
}
label:after{
    content: '\A';
    white-space: pre;
}

textarea {
    width: 300pxpx;
    font: 13px/20px "Roboto", sans-serif;
    background: none;
    border: 0px;
    border-bottom: 1px solid #bababa;
    margin-bottom: 16px;
}
textarea:focus {
    outline: none;
    border-bottom: 1px solid #4caf50;
}

input {
    width: 300px;
    font-size: 14px;
    line-height: 20px;
    background: none;
    border: 0px;
    border-bottom: 1px solid #bababa;
    margin-bottom: 16px;
}
input:focus {
    outline: none;
    border-bottom: 1px solid #4caf50;
}

button {
    color: #ffffff;
    font: 14px/28px "Roboto", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #424242;
    border: 0;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}
button:hover {
    cursor: pointer;
    background-color: #4caf50;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    outline: none;
}
button:active {
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    outline: none;
}
button:focus {
    outline: none;
}

/* Elementi specifici */

/* login */
#login {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}

/* bacheca */
.frase {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin-bottom: 8px;
    padding: 8px;
}
.frase .autore {
    display: inline-block;
    font: 16px/36px "Roboto", sans-serif;
    font-weight: bold;
    padding-left: 8px;
    color: #4caf50;
}
.frase .contenuto {
    display: inline-block;
    padding-left: 8px;
}

.post {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin-bottom: 8px;
    padding: 8px;
}
.post .autore {
    height: 88px;
}
.post .autore .nome {
    float: left;
    padding: 16px;
    font: 16px/36px "Roboto", sans-serif;
    font-weight: bold;
}
.post .autore .profilePic {
    float: left;
    width: 80px;
    height: 80px;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
}
.post .contenuto {
    border-top: 1px dotted #bababa;
}
.post .contenuto img{
    padding: 4px;
    box-shadow: 0 0 4px rgba(0,0,0,.3);
}