/* 
    Created on : 28-Mar-2017, 11:50:04
    Author     : Dathriil
*/

/* body */
body {
    background-color: #ffffff;
    color: #212121;
    font: 13px/24px "Roboto", sans-serif;
}

/* titoli */
h1 {
    font-weight: normal;
    color: #4caf50;
    font-size: 34px;
    line-height: 40px;
}

h2 {
    font-weight: normal;
    color: #4caf50;
    font-size: 24px;
    line-height: 32px;
}

h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

/* links */
a:link, a:visited{
    text-decoration: none;
    color: #4caf50;
}

a:hover{
    text-decoration: underline;
}

/* elementi form */
label {
    color: #757575;
    font-size: 12px;
    line-height: 16px;
}
label:active, label:focus {
    color: #4caf50;
    font-weight: bold;
}
label:after{
    content: '\A';
    white-space: pre;
}

textarea {
    width: 400px;
    font: 13px/20px "Roboto", sans-serif;
    background: none;
    border: 0px;
    border-bottom: 1px solid #bababa;
    margin-bottom: 16px;
}
textarea:focus {
    outline: none;
    border-bottom: 1px solid #4caf50;
}

input {
    width: 400px;
    font-size: 14px;
    line-height: 20px;
    background: none;
    border: 0px;
    border-bottom: 1px solid #bababa;
    margin-bottom: 16px;
}
input:focus {
    outline: none;
    border-bottom: 1px solid #4caf50;
}

button {
    color: #ffffff;
    font: 14px/28px "Roboto", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #424242;
    border: 0;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}
button:hover {
    cursor: pointer;
    background-color: #4caf50;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    outline: none;
}
button:active {
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    outline: none;
}
button:focus {
    outline: none;
}