<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Bacheca</servlet-name>
        <servlet-class>amm.progetto.servlet.Bacheca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profilo</servlet-name>
        <servlet-class>amm.progetto.servlet.Profilo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>amm.progetto.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>amm.progetto.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuovoPost</servlet-name>
        <servlet-class>amm.progetto.servlet.NuovoPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminaProfilo</servlet-name>
        <servlet-class>amm.progetto.servlet.EliminaProfilo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gruppo</servlet-name>
        <servlet-class>amm.progetto.servlet.Gruppo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuovoGruppo</servlet-name>
        <servlet-class>amm.progetto.servlet.NuovoGruppo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Friendship</servlet-name>
        <servlet-class>amm.progetto.servlet.Friendship</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupSubscription</servlet-name>
        <servlet-class>amm.progetto.servlet.GroupSubscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminaGruppo</servlet-name>
        <servlet-class>amm.progetto.servlet.EliminaGruppo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminaPost</servlet-name>
        <servlet-class>amm.progetto.servlet.EliminaPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Bacheca</servlet-name>
        <url-pattern>/Bacheca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profilo</servlet-name>
        <url-pattern>/Profilo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuovoPost</servlet-name>
        <url-pattern>/NuovoPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminaProfilo</servlet-name>
        <url-pattern>/EliminaProfilo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gruppo</servlet-name>
        <url-pattern>/Gruppo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuovoGruppo</servlet-name>
        <url-pattern>/NuovoGruppo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Friendship</servlet-name>
        <url-pattern>/Friendship</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupSubscription</servlet-name>
        <url-pattern>/GroupSubscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminaGruppo</servlet-name>
        <url-pattern>/EliminaGruppo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminaPost</servlet-name>
        <url-pattern>/EliminaPost</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>descrizione.jsp</welcome-file>
    </welcome-file-list>
</web-app>
