/* 
    Created on : 28-Mar-2017, 11:50:04
    Author     : Dathriil
*/

/* pagina */
body {
    background-color: #ffffff;
    color: #212121;
    font: 13px/24px "Roboto", sans-serif;
    margin: 0;
}

#divBody {
    margin-top: 56px;
}

/* header */
header{
    font: 24px/48px "Roboto", sans-serif;
    color: #ffffff;
    background-color: #4caf50;
    position: fixed;
    top: 0;
    right: 0;
    height: 48px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    z-index: 10;
}

.title {
    float: left;
    padding-left: 16px;
}

/* links */
a:link, a:visited{
    text-decoration: none;
    color: #4caf50;
}

a:hover{
    text-decoration: underline;
}

/* titoli e testo */
h1 {
    font-weight: normal;
    color: #4caf50;
    font-size: 34px;
    line-height: 40px;
}

h2 {
    font-weight: normal;
    color: #4caf50;
    font-size: 24px;
    line-height: 32px;
}

h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

p {
    margin-left: 0;
    margin-right: 0;
    margin-top: 4px;
    margin-bottom: 4px;
}

/* elementi form */
form {
    width: 300px;
    padding: 8px;
}
label {
    color: #757575;
    font-size: 12px;
    line-height: 16px;
}
label:active, label:focus {
    color: #4caf50;
    font-weight: bold;
}
label:after{
    content: '\A';
    white-space: pre;
}

textarea {
    width: 300px;
    font: 13px/20px "Roboto", sans-serif;
    background: none;
    border: 0px;
    border-bottom: 1px solid #bababa;
    margin-bottom: 16px;
}
textarea:focus {
    outline: none;
    border-bottom: 1px solid #4caf50;
}

input {
    width: 300px;
    font-size: 14px;
    line-height: 20px;
    background: none;
    border: 0px;
    border-bottom: 1px solid #bababa;
    margin-bottom: 16px;
}
input:focus {
    outline: none;
    border-bottom: 1px solid #4caf50;
}

button {
    color: #ffffff;
    font: 14px/28px "Roboto", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #424242;
    border: 0;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}
button:hover {
    cursor: pointer;
    background-color: #4caf50;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    outline: none;
}
button:active {
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    outline: none;
}
button:focus {
    outline: none;
}
button[type=submit] {
    width: 100%;
}

input[type=radio] {
    width: auto;
}

/* logout */
.logout {
    text-align: center;
    float: right;
    font: 14px/16px "Roboto", sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-top: 8px;
    margin-right: 16px;
}

.logout a, .logout a:visited, .logout a:hover {
    color: #ffffff;
    font: 13px/16px "Roboto", sans-serif;
}

/* colonna laterale */
.submenu ul {
    margin: 0px 0px 8px 0px;
    padding-left: 8px;
    list-style: none;
    font-style: italic;
    line-height: 26px;
}
.submenu ul li img {
    width: 26px;
    height: 26px;
    position: relative;
    bottom: -8px;
    border-radius: 26px;
    margin-right: 6px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 4px rgba(0,0,0,.3);
}

.subtitle {
    font-size: 16px;
    color: #4caf50;
    font-weight: bold;
}

.subtitle .iconaFunzione {
    float: right;
    width: 24px;
    height: 24px; 
    position: relative;
    bottom: -4px;
    background: url('img/addGruppo.png');
}

/* Icone decorative che non forniscono ulteriore informazione */
.submenu .persone:before {
    content: '';
    background: url('img/persone.png'); 
    width: 24px;
    height: 24px; 
    display: inline-block;
    position: relative;
    bottom: -4px;
    margin-right: 4px;
}
.submenu .gruppi:before {
    content: '';
    background: url('img/gruppi.png'); 
    width: 24px;
    height: 24px; 
    display: inline-block;
    position: relative;
    bottom: -4px;
    margin-right: 4px;
}
/* nav */
nav{
    float: left;
}

nav ul, nav li{
    margin: 0;
    list-style-type: none;
    display: inline-block;
}

nav li{
    width: 80px;
    text-align: center;
    font-size: 16px;
}
nav li a:link, nav li a:visited {
    font: 13px/20px "Roboto", sans-serif;
    color: #ffffff;
}
nav li a:hover {
    font: 13px/20px "Roboto", sans-serif;
    color: #ffffff;
}

nav li:last-child{
    border-right: none;
}
nav li.active{
    text-decoration: underline;
}

/* Elementi specifici */

/* login */
#login {
    width: 316px;
    padding: 4px 16px 16px 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -42px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}
#login h1:before {
    content: '';
    background: url('img/glasses.png'); 
    width: 50px;
    height: 36px;
    margin-right: 16px; 
    display: inline-block;
}
#login .datiErrati {
    text-align: center;
    font-style: italic;
    color: red;
}

/* bacheca */
.frase {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin-bottom: 8px;
    padding: 8px;
}
.frase .autore {
    display: inline-block;
    font: 16px/36px "Roboto", sans-serif;
    font-weight: bold;
    padding-left: 8px;
    color: #4caf50;
}
.frase .contenuto {
    display: inline-block;
    padding-left: 8px;
}

.nuovoPost {
    width: auto;
    maring-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin-bottom: 4px;
    padding: 4px;
}
.nuovoPost form {
    width: 98%;
}
.nuovoPost input[type=text], .nuovoPost textarea {
    width: 100%;
}
.nuovoPost .datiUtenti {
    padding: 4px;
    font-weight: bold;
}
.nuovoPost .label {
    color: #757575;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 4px;
}
.nuovoPost .content {
    padding-bottom: 16px;
}
.nuovoPost .datiAggiornati {
    text-align: center;
    font-style: italic;
    color: #4caf50;
    padding: 4px;
}

.post {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin-bottom: 8px;
    padding: 8px;
}
.post .autore {
    height: 64px;
}
.post .autore .nome {
    float: left;
    padding: 16px;
    font: 16px/36px "Roboto", sans-serif;
    font-weight: bold;
}
.post .autore .profilePic {
    float: left;
    width: 56px;
    height: 56px;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
}
.post .contenuto {
    border-top: 1px dotted #bababa;
}
.post .contenuto img{
    padding: 4px;
    box-shadow: 0 0 4px rgba(0,0,0,.3);
}

/* profilo */
#profilo {
    margin-left: 4px;
}
#profilo .iconaProfilo {
    text-align: center;
    vertical-align: middle;
    width: 92px;
    height: 92px;
    float: left;
    margin-right: 8px;
}
#profilo .iconaProfilo img {
    max-width: 92px;
    max-height: 92px;
    border-radius: 64px;
    box-shadow: 0 0 4px rgba(0,0,0,.3);
}
#profilo form {
    float: left;
}
#profilo .datiAggiornati {
    margin-top: 4px;
    text-align: center;
    color: #4caf50;
    font-style: italic;
}

/* responsive design */
@media only screen and (min-width: 1024px) {

    /* Pagina */    
    #pagina {
        width: 912px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Colonna laterale */
    #pagina .col {
        padding-top: 16px;
        float: left;
        width: 20%;
    }

    /* Container */
    #pagina .cont {
        margin-left: 200px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1023px) {

    /* Colonna laterale */
    #pagina .col {
        margin-left: 24px;
        margin-bottom: 24px;
    }
    #pagina .col .submenu {
        width: 180px;
        margin-right: 24px;
        float: left;
    }
    #pagina .col .submenuFooter {
        clear: left;
    }

    /* Container */    
    #pagina .cont {
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media only screen and (max-width: 480px) {

    /* Colonna laterale */
    #pagina .col {
        margin-left: 16px;
        margin-bottom: 16px;
    }
    #pagina .col .submenu {
        width: 180px;
        float: left;
    }
    #pagina .col .submenuFooter {
        clear: left;
    }

    /* Container */
    #pagina .cont {
        margin-left: 4px;
        margin-right: 4px;
    }

    /* Header */
    header {
        height: 40px;
        box-shadow: 0 0 0 rgba(0,0,0,0);
    }
    header nav {
        width: 100%;
        height: 28px;
        line-height: 24px;
        background-color: #4caf50;
        position: relative;
        top: -7px;
    }

    header .logout {
        position: relative;
        top: -80px;
        font-size: 11px;
    }

    #divBody {
        margin-top: 76px;
    }

    /* Profilo */
    #profilo .iconaProfilo {
        margin-bottom: 16px;
    }

    /* Login */
    #login {
        box-shadow: 0 0 0px rgba(0,0,0,0);
    }
}